{% extends 'base.html' %}

{% block main %}
   <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
        Olá {{ usuario.funcionario.nome }}
        <a href="{% url 'list_funcionarios' %}">Gerencia Funcionario</a>
        <a href="{% url 'list_departamento' %}">Gerencia Departamentos</a>
    </div>
    <div class="col-sm">
        <a href="{% url 'logout'%}">Logout</a>
        {% if usuario.funcionario.empresa %}
            <a href="{% url 'editarEmpresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>
        {% else%}
            <a href="{% url 'criarEmpresa' %}">Criar Empresa</a>
        {% endif %}
    </div>
  </div>
{% endblock %} 